{% extends "base.html" %}
{% load static %}
{% block class_name %}active{% endblock %}
{% block content %}
<div class="always-centered">
    <div class="about">
        <div class="text-center name-section">
            <p>Hi! I am ,</p>
        </div>
        <div class="text-center name-section">
            <span class="name">NEEL PATEL</span>
        </div>
        <div class="text-center name-section">
            <p>a computer science student and developer</p>
        </div>
    </div>

    <div class="reach-me text-center">
        <div class="row">
            <div class="col">
                <a class="btn" href="https://github.com/neel6762" target="_blank">
                    <i class="fab fa-github"></i>
                </a> |
                <a class="btn" href="https://www.linkedin.com/in/neel6762/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a> |
                <a class="btn" href="mailto:patelneel504@gmail.com" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <a href="{% static 'resume.pdf' %}" target="_blank"> <button class="btn btn-custom">Download Resume</button> </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}